{% extends 'admin_panel/base_admin.html' %}
{% load static %}
{% block container %}
      

      <div class="container mt-5">
        <div class="row tm-content-row">
          <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <h2 class="tm-block-title">List of Rooms</h2>
              <p class="text-white">Rooms</p>
              <select class="custom-select">
                <option value="0">Select Room Type</option>
                <option value="1">Single Room</option>
                <option value="2">Double Room</option>
                <option value="3">Suite</option>
                <option value="4">Deluxe Room</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row tm-content-row">
          <div class="tm-block-col tm-col-avatar">
            <div class="tm-bg-primary-dark tm-block tm-block-avatar">
              <h2 class="tm-block-title">Change Room Image</h2>
              <div class="tm-avatar-container">
                <img src="img/room-placeholder.png" alt="Room Image" class="tm-avatar img-fluid mb-4" />
                <a href="#" class="tm-avatar-delete-link">
                  <i class="far fa-trash-alt tm-product-delete-icon"></i>
                </a>
              </div>
              <button class="btn btn-primary btn-block text-uppercase">Upload New Image</button>
            </div>
          </div>
          <div class="tm-block-col tm-col-account-settings">
            <div class="tm-bg-primary-dark tm-block tm-block-settings">
              <h2 class="tm-block-title">Room Settings</h2>
              <form action="" class="tm-signup-form row">
                <div class="form-group col-lg-6">
                  <label for="name">Room Name</label>
                  <input id="name" name="name" type="text" class="form-control validate" />
                </div>
                <div class="form-group col-lg-6">
                  <label for="description">Description</label>
                  <textarea id="description" name="description" class="form-control validate"></textarea>
                </div>
                <div class="form-group col-lg-6">
                  <label for="price">Price per Night</label>
                  <input id="price" name="price" type="number" class="form-control validate" />
                </div>
                <div class="form-group col-lg-6">
                  <label for="capacity">Capacity</label>
                  <input id="capacity" name="capacity" type="number" class="form-control validate" />
                </div>
                <div class="form-group col-lg-6">
                  <label class="tm-hide-sm">&nbsp;</label>
                  <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Room Details</button>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-danger btn-block text-uppercase">Delete Room</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% endblock %}

{% block script %} 
    <script src="{% static 'admin_panel/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'admin_panel/js/bootstrap.min.js' %}"></script>
    {% endblock %}

    