{% extends 'admin_panel/base_admin.html' %}
{% load static %}
{% block container %}
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Room</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="" method="post" class="tm-edit-product-form">
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Room Number
                    </label>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      value="101"
                      class="form-control validate"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="description"
                      >Description</label
                    >
                    <textarea                    
                      class="form-control validate tm-small"
                      rows="5"
                      required
                    >Spacious single room with a king-size bed, sea view, and modern amenities.</textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="type"
                      >Room Type</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="type"
                    >
                      <option>Select room type</option>
                      <option value="single" selected>Single</option>
                      <option value="double">Double</option>
                      <option value="suite">Suite</option>
                    </select>
                  </div>
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="price"
                            >Price per Night</label>
                          <input
                            id="price"
                            name="price"
                            type="text"
                            value="$120"
                            class="form-control validate"
                          />
                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="status"
                            >Status</label>
                          <select
                            class="custom-select tm-select-accounts"
                            id="status"
                          >
                            <option>Select status</option>
                            <option value="available">Available</option>
                            <option value="occupied" selected>Occupied</option>
                          </select>
                        </div>
                  </div>
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-edit mx-auto">
                  <img src="img/room-image.jpg" alt="Room image" class="img-fluid d-block mx-auto">
                  <i
                    class="fas fa-cloud-upload-alt tm-upload-icon"
                    onclick="document.getElementById('fileInput').click();"
                  ></i>
                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" style="display:none;" />
                  <input
                    type="button"
                    class="btn btn-primary btn-block mx-auto"
                    value="CHANGE IMAGE NOW"
                    onclick="document.getElementById('fileInput').click();"
                  />
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'admin_panel/js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'admin_panel/jquery-ui-datepicker/jquery-ui.min.js' %}"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="{% static 'admin_panel/js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
{% endblock %}

