{% extends 'admin_panel/base_admin.html' %}
{% load static %}
{% block container %}
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-rooms">
            <div class="tm-room-table-container">
              <form method="post" action="{% url 'delete_selected_rooms' %}">
                {% csrf_token %}
                <table class="table table-hover tm-table-small tm-room-table">
                  <thead>
                    <tr>
                      <th scope="col">
                        <input type="checkbox" id="select-all-rooms" />
                      </th>
                      <th scope="col">ROOM NAME</th>
                      <th scope="col">TYPE</th>
                      <th scope="col">CATEGORY</th>
                      <th scope="col">PRICE PER NIGHT</th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for room in rooms %}
                    <tr>
                      <th scope="row">
                        <input type="checkbox" name="room_select" value="{{ room.id }}" />
                      </th>
                      <td class="tm-room-name" data-room-id="{{ room.id }}">{{ room.name }}</td>
                      <td>{{ room.type }}</td>
                      <td>{{ room.category }}</td>
                      <td>${{ room.price }}</td>
                      <td>
                        <a href="{% url 'delete_room' room.id %}" class="tm-room-delete-link"
                           onclick="return confirm('Are you sure you want to delete this room?');">
                          <i class="far fa-trash-alt tm-room-delete-icon"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <a
                href="{% url 'add_room' %}"
                class="btn btn-primary btn-block text-uppercase mb-3">Add new room</a>
                <!-- Bulk Delete Button -->
                <button type="submit" class="btn btn-primary btn-block text-uppercase">
                  Delete selected rooms
                </button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-room-categories">
            <h2 class="tm-block-title">Room Categories</h2>
            <div class="tm-room-table-container">
              <form method="post" action="{% url 'delete_selected_categories' %}">
                {% csrf_token %}
                <table class="table tm-table-small tm-room-table">
                  <thead>
                    <tr>
                      <th scope="col">
                        <input type="checkbox" id="select-all-categories" />
                      </th>
                      <th scope="col">CATEGORY TYPE</th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cat in categories %}
                    <tr>
                      <th scope="row">
                        <input type="checkbox" name="category_select" value="{{ cat.id }}" />
                      </th>
                      <td class="tm-category-name">{{ cat.name }}</td>
                      <td>
                        <a href="{% url 'delete_category' cat.id %}" class="tm-category-delete-link"
                           onclick="return confirm('Are you sure you want to delete this category?');">
                          <i class="far fa-trash-alt tm-category-delete-icon"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <a href="{% url 'add_category' %}" class="btn btn-primary btn-block text-uppercase mb-3">
                  Add new category
                </a>
                <button type="submit" class="btn btn-primary btn-block text-uppercase">
                  Delete selected categories
                </button>
              </form>
            </div>
            <!-- table container -->
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'admin_panel/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'admin_panel/js/bootstrap.min.js' %}"></script>
    <script>
      $(function() {
        $(".tm-room-name").on("click", function() {
          var roomId = $(this).data("room-id");
          {% comment %} window.location.href = "{% url 'edit_room' room_id=0 %}".replace('0', roomId); {% endcomment %}
        });
      });

      $("#select-all-rooms").on("change", function() {
        $("input[name='room_select']").prop("checked", this.checked);
      });

      $("#select-all-categories").on("change", function() {
        $("input[name='category_select']").prop("checked", this.checked);
      });
    </script>
{% endblock %}






